# IDEs and venvs
.idea
.venv

# Binaries
qwc*

# Caches
benchmarks/__pycache__

# CMake build artifacts
build/
build-release
build-pgo/
build-wsl/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
benchmarks/test-data
benchmarks/bench-spec.csv
benchmarks/benchmarks.log

# Third-party code
thirdparty

# Agentic helper configs
CLAUDE.md

# Logs
logs/**
